@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Simgeleri beyaz yapmak için ters çevirir */
  opacity: 0.7; /* İsteğe bağlı, simgenin şeffaflık seviyesini değiştirir */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
